body {
  font-family: "RobotoRegular", sans-serif;
  letter-spacing: 0.1rem;
}

html {
  scroll-padding-top: 38px;
}

header {
  background-color: #fbfbfb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
header span {
  color: #0aa39c;
}
header h1 {
  font-size: 20px;
}
header h2 {
  font-size: 12px;
  font-weight: 100;
  color: #808080;
  overflow: hidden;
  border-right: 0.15em solid #FFA500;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
}
header a {
  font-size: 14px;
  margin-top: 20px;
  border: 2px #0aa39c solid;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  color: #0aa39c;
  background-color: #fbfbfb;
  cursor: pointer;
}
header a:hover {
  background-color: #0aa39c;
  color: #fbfbfb;
  transition: 0.5s;
}

.hamburgerButtonOpen {
  display: none;
}

.nav {
  position: sticky;
  top: 0;
  background-color: rgba(251, 251, 251, 0.9);
  z-index: 1;
}
.nav aside {
  border-bottom: 1px solid #FFA500;
}
.nav button {
  padding: 10px;
  color: #0aa39c;
  background-color: transparent;
  border: none;
}
.nav div {
  display: none;
  flex-flow: column;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: rgba(251, 251, 251, 0.9);
}
.nav div a {
  width: 100%;
  text-decoration: none;
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #808080;
  text-align: center;
}
.nav .projectHamburgerLink {
  display: none;
}
.nav .projectHamburgerLinkHighlight {
  color: #FFA500;
}

.portfolioHamburgerLink:hover {
  cursor: pointer;
}

section {
  position: relative;
  padding: 30px;
}
section p {
  font-family: "RobotoLight", sans-serif;
}
section a {
  text-decoration: none;
  color: #fbfbfb;
}
section a:hover {
  color: #FFA500;
}
section img {
  border-radius: 50%;
  height: 250px;
}
section h3 {
  font-family: "Courier New", sans-serif;
  font-size: 16px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
}
section article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

section.darkTheme {
  background-color: #0aa39c;
  color: #fbfbfb;
}

section.lightTheme {
  background-color: #fbfbfb;
  color: #000;
}

#portfolio p {
  text-align: center;
}

.portfolioProject {
  width: 275px;
  height: 200px;
  margin: 10px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.portfolioProject h4 {
  text-transform: uppercase;
  font-family: "Courier New", sans-serif;
  font-weight: 600;
}

.findOutMore {
  background-color: #0aa39c;
  border: 2px solid #0aa39c;
  color: #fbfbfb;
  border-radius: 3px;
  padding: 10px 15px;
  text-decoration: none;
  margin-bottom: 10px;
}

.findOutMore:hover {
  background-color: #fbfbfb;
  border: 2px solid #0aa39c;
  color: #0aa39c;
  transition: 0.5s;
}

.projectLinks {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.projectLinks div {
  display: flex;
}
.projectLinks a {
  text-align: center;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-flow: column wrap;
}
.projectLinks i {
  font-size: 18px;
  padding: 5px;
}

.projectOne {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectOne.jpeg");
}

.projectTwo {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectTwo.jpg");
}

.projectThree {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectThree.jpg");
}

.projectFour {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectFour.jpg");
}

.projectFive {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectFive.jpg");
}

.projectSix {
  background-image: linear-gradient(rgba(251, 251, 251, 0.6), rgba(251, 251, 251, 0.6)), url("Images/projectSix.jpg");
}

.contactLinks {
  display: flex;
  justify-content: center;
}
.contactLinks i {
  font-size: 80px;
  padding: 20px;
}

#contact p {
  text-align: center;
}

.flexMoji {
  display: flex;
  justify-content: center;
}
.flexMoji img {
  height: 200px;
  border-radius: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 181px;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFA500;
  }
}
@media screen and (min-width: 750px) {
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
  header a {
    font-size: 20px;
  }

  .aboutMe {
    flex-flow: row;
  }
  .aboutMe img {
    padding: 30px;
  }
  .aboutMe div {
    padding: 30px;
  }

  .portfolio {
    flex-flow: wrap;
    max-width: 900px;
    margin: 0 auto;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
}
@font-face {
  font-family: "RobotoRegular";
  src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoThin";
  src: url("Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "RobotoMono";
  src: url("Roboto/RobotoMono-VariableFont_wght.ttf");
}

/*# sourceMappingURL=styles.css.map */
