$primaryColour: #0aa39c;
$secondaryColour: #fbfbfb;
$secondaryOpacity: rgba(251,251,251,0.9);
$accentColour: #FFA500;
$secondaryAccentColour: #808080;
$mainFontColour: #000;

body {
  font-family: "RobotoRegular",  sans-serif;
  letter-spacing: 0.1rem;
}

html {
  scroll-padding-top: 38px;
}

header {
  background-color: $secondaryColour;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  span {
    color: $primaryColour;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
    font-weight: 100;
    color: $secondaryAccentColour;
    overflow: hidden;
    border-right: .15em solid $accentColour;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 3.5s steps(40, end),
            blink-caret 0.5s step-end infinite;
  }

  a {
    font-size: 14px;
    margin-top: 20px;
    border: 2px $primaryColour solid;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    color: $primaryColour;
    background-color: $secondaryColour;
    cursor: pointer;

    &:hover {
      background-color: $primaryColour;
      color: $secondaryColour;
      transition: 0.5s;
    }
  }
}

.hamburgerButtonOpen {
  display: none;
}

.nav {
  position: sticky;
  top: 0;
  background-color: $secondaryOpacity;
  z-index: 1;

  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $accentColour;
    a {
      text-decoration: none;
      margin: 0 10px;
      color: $primaryColour;
    }
  }

  button {
    padding: 10px;
    color: $primaryColour;
    background-color: transparent;
    border: none
  }

  div {
    display: none;
    flex-flow: column;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: $secondaryOpacity;

    a {
      width: 100%;
      text-decoration: none;
      padding: 10px;
      color: $mainFontColour;
      border-bottom: 1px solid $secondaryAccentColour;
      text-align: center;
    }
  }
  .projectHamburgerLink {
    display: none;
  }
  .projectHamburgerLinkHighlight {
    color: $accentColour;
  }
}

.portfolioHamburgerLink:hover {
  cursor: pointer;
}

section {
  position: relative;
  padding: 30px;

  p {
    font-family: "RobotoLight", sans-serif;
  }

  a {
    text-decoration: none;
    color: $secondaryColour;
  }

  a:hover {
    color: $accentColour;
  }

  img {
    border-radius: 50%;
    height: 250px;
  }

  h3 {
    font-family: "Courier New", sans-serif;
    font-size: 16px;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
  }

  article {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

section.darkTheme {
  background-color: $primaryColour;
  color: $secondaryColour;
}

section.lightTheme {
  background-color: $secondaryColour;
  color: $mainFontColour;
}

.cvDownload {
  display: flex;
  flex-flow: column;
  align-items: center;

  a {
    i {
      font-size: 30px;
      margin: 0 5px;
    }
  }
}

#portfolio {
  p {
    text-align: center;
  }
}

.portfolioProject {
  width: 275px;
  height: 200px;
  margin: 10px;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  h4 {
    text-transform: uppercase;
    font-family: 'Courier New', sans-serif;
    font-weight: 600;
  }
}

.findOutMore {
  background-color: $primaryColour;
  border: 2px solid $primaryColour;
  color: $secondaryColour;
  border-radius: 3px;
  padding: 10px 15px;
  text-decoration: none;
  margin-bottom: 10px;
}

.findOutMore:hover{
  background-color: $secondaryColour;
  border: 2px solid $primaryColour;
  color: $primaryColour;
  transition: 0.5s;
}

.projectLinks {
  display: flex;
  justify-content: space-evenly;
  width: 80%;

  div {
    display: flex;
  }

  a {
    text-align: center;
    text-decoration: none;
    color: $mainFontColour;
    display: flex;
    flex-flow: column wrap;
  }

  i {
    font-size: 18px;
    padding: 5px;
  }
}

.projectOne{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectOne.jpeg");
}

.projectTwo{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectTwo.jpg");
}
.projectThree{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectThree.jpg");
}

.projectFour{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectFour.jpg");
}

.projectFive{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectFive.jpg");
}
.projectSix{
  background-image: linear-gradient(
                  rgba(251,251,251,0.6),
                  rgba(251,251,251,0.6)
  ),
  url("Images/projectSix.jpg");
}

.contactLinks {
  display: flex;
  justify-content: center;

  i {
    font-size: 80px;
    padding: 20px;
  }
}

#contact {
  p {
    text-align: center;
  }
}

.flexMoji {
  display: flex;
  justify-content: center;

  img {
    height: 200px;
    border-radius: 0;
  }
}

//animations
@keyframes typing {
  from { width: 0 }
  to { width: 181px }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $accentColour; }
}

//media queries
@media screen and (min-width: 750px) {

  header {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    a {
      font-size: 20px;
    }
  }

  .aboutMe {
    flex-flow: row;

    img {
      padding: 30px;
    }
    div {
      padding: 30px;
    }
    .cvDownload {
      padding: 0;
      flex-flow: row;
/*      p {
        width: 100%;
      }*/
    }
  }

  .portfolio {
    flex-flow: wrap;
    max-width: 900px;
    margin: 0 auto;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 300px }
  }
}

@font-face {
  font-family: "RobotoRegular";
  src: url("Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoThin";
  src: url("Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "RobotoLight";
  src: url("Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "RobotoMono";
  src: url("Roboto/RobotoMono-VariableFont_wght.ttf")
}